

.popup-bg-intro0 {
    z-index: 2;
    position: absolute;
    background-color: rgb(250, 246, 246);
    background-image: url("images/popup-bg-intro0.jpg");
    width: 1174px;
    height: 677px;
    left: 50%;
    top: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-587px, -338px, 0px);
    perspective: 1400px;
    background-color: rgba(0, 0, 0, 0.5);
}
.popup-bg-intro2 {
    z-index: 2;
    position: absolute;
    background-color: rgb(250, 246, 246);
    background-image: url("images/popup-bg-intro2.jpg");
    width: 1174px;
    height: 677px;
    left: 50%;
    transform-style: preserve-3d;
    top: 50%;
    transform: translate3d(-587px, -338px, 0px);
}
.heading-title-intro0, .heading-title-intro2, .heading-title-intro3 {
    position: absolute;
    font-family: lato;
    font-size: 33px;
    font-weight: bold;
    width: 862px;
    height: 43px;
}
.heading-title-intro0 {
    top: 48px;
    left: 183px;
    transform-origin: 430.875px 21.4736px 0px;
}
.heading-title-intro2 {
    text-align: center;
    top: 37px;
    left: 183px;
    transform-origin: 430.875px 21.4736px 0px;
}
.heading-title-intro3 {
    top: 48px;
    left: 183px;
    transform-origin: 430.875px 21.4736px 0px;
}

.heading-para1-intro2 {
    position: absolute;
    font-family: Lato;
    font-size: 23px;
    width: 288px;
    height: 32px;
    transform-origin: 144px 15.9957px 0px;
    top: 119px;
    left: 400px;
    color: rgb(54, 169, 211);
}
.para1-intro0 {
    position: absolute;
    width: 471.135px;
    height: 58.4052px;
    font-family: Lato;
    left: 646px;
    font-size: 18px;
    top: 190px;
}
.para2-intro0 {
    position: absolute;
    width: 477px;
    font-family: Lato;
    top: 50%;
    transform-style: preserve-3d;
    left: 0%;
    height: 77px;
    transform-origin: 238.489px 38.3483px 0px;
    font-size: 18px;
    transform: translate3d(646px, -83px, 0px);
}
.para1-intro1 {
    position: absolute;
    width: 521.135px;
    height: 58.4052px;
    font-family: Lato;
    left: 596px;
    font-size: 18px;
    top: 190px;
}
.para1-intro2 {
    position: absolute;
    font-family: Lato;
    top: 50%;
    left: 0%;
    font-size: 18px;
    width: 651px;
    height: 77px;
    transform-origin: 325.42px 38.3438px 0px;
    transform: translate3d(406px, -172px, 0px);
    transform-style: preserve-3d;
}
.heading-para1-intro3 {
    position: absolute;
    font-family: Lato;
    font-size: 23px;
    width: 851px;
    height: 32px;
    top: 100px;
    left: 182px;
    transform-origin: 144px 15.9957px 0px;
    color: rgb(54, 169, 211);
}
.para1-intro3 {
    position: absolute;
    font-family: Lato;
    top: 50%;
    left: 0%;
    font-size: 18px;
    width: 851px;
    height: 77px;
    transform-origin: 144px 38.3438px 0px;
    transform: translate3d(182px, -172px, 0px);
    transform-style: preserve-3d;
}
.note-bg-intro0, .note-bg-intro1 {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 476px;
    height: 104px;
    background-image: none;
    background-color: rgb(126, 212, 246);
}
.note-bg-intro0 {
    transform-style: preserve-3d;
    transform: translate3d(644px, 3px, 0px);
    transform-origin: 237.998px 51.7461px 0px;
}
.note-bg-intro1 {
    transform-style: preserve-3d;
    transform: translate3d(594px, 53px, 0px);
    transform-origin: 237.998px 51.7461px 0px;
}
.note-text-intro0, .note-text-intro1 {
    position: absolute;
    text-align: justify;
    font-size: 18px;
    width: 436px;
    height: 89px;
}
.note-text-intro0 {
    left: 661px;
    top: 351px;
    transform-origin: 218.191px 44.539px 0px;
}
.note-text-intro1 {
    left: 611px;
    top: 401px;
    transform-origin: 218.191px 44.539px 0px;
}
.image-intro0 {
    position: absolute;
    width: 233px;
    height: 313px;
    left: 550px;
    top: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-477px, -126px, 0px);
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.image-intro1 {
    position: absolute;
    width: 450px;
    height: 271px;
    left: 550px;
    top: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-477px, -126px, 0px);
}
.next-btn-bg-intro0 {
    position: absolute;
    width: 367.767px;
    height: 48.5978px;
    background-image: none;
    background-color: rgb(54, 169, 211);
    left: 1175px;
    top: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-432px, 251px, 0px);
}
.next-btn-bg-intro2 {
    position: absolute;
    width: 300px;
    height: 49px;
    background-image: none;
    background-color: rgb(54, 169, 211);
    left: 1235px;
    top: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-432px, 251px, 0px);
}
.next-btn-bg-intro3 {
    position: absolute;
    background-image: none;
    background-color: rgb(54, 169, 211);
    left: 1175px;
    top: 50%;
    width: 160px;
    height: 49px;
    transform-origin: 80.1125px 24.2969px 0px;
    transform: translate3d(-224px, 251px, 0px);
    transform-style: preserve-3d;
}
.next-btn-text-intro0, .next-btn-text-intro2, .next-btn-text-intro3 {
    position: absolute;
    font-family: Lato;
    color: rgb(253, 252, 252);
    font-size: 23px;
    left: 768px;
    top: 50%;
}
.next-btn-text-intro0 {
    transform: translate3d(0px, 261px, 0px);
    transform-style: preserve-3d;
}
.next-btn-text-intro2 {
    transform: translate3d(75px, 261px, 0px);
    transform-style: preserve-3d;
}
.next-btn-text-intro3 {
    transform: translate3d(208px, 260px, 0px);
    transform-style: preserve-3d;
}

.back-btn-bg-intro0, .back-btn-bg-intro2, .back-btn-bg-intro3 {
    position: absolute;
    height: 50px;
    width: 166px;
    background-image: none;
    background-color: rgb(175, 180, 183);
    left: 55px;
    top: 87%;
    transform: translate3d(0px, -1px, 0px);
    transform-style: preserve-3d;
}
.back-text-intro0, .back-text-intro2, .back-text-intro3 {
    position: absolute;
    font-family: Lato;
    font-size: 23px;
    background-image: none;
    width: 49.3366px;
    height: 27.5825px;
    background-color: transparent;
    color: rgb(12, 11, 11);
    left: 577px;
    top: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-451px, 261px, 0px);
}
.next-arrow-intro0, .next-arrow-intro2, .next-arrow-intro3 {
    position: absolute;
    width: 38px;
    height: 38px;
    left: 1477px;
    top: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-439px, 256px, 0px);
}
.back-arrow-intro0, .back-arrow-intro2, .back-arrow-intro3 {
    position: absolute;
    left: 457px;
    width: 38px;
    height: 38px;
    transform-style: preserve-3d;
    top: 50%;
    transform: translate3d(-373px, 256px, 0px) rotateZ(179.581deg);
}

.btn-back-hyperlink {
    text-decoration: none;
    color: black;
}
.btn-next-hyperlink {
    text-decoration: none;
    color: white;
}
.close-btn-bg-intro0, .close-btn-bg-intro2 {
    display: block;
    position: absolute;
    fill: rgb(70, 68, 68);
    left: 1133px;
    top: 9px;
    width: 25px;
    height: 25px;
    transform-origin: 11.8329px 11.2362px 0px;
}
.close-btn {
    color: rgb(253, 252, 252);
    display: block;
    font-family: Lato;
    position: absolute;
    font-size: 20px;
    top: 6px;
    left: 1139px;
}
.btn-close-hyperlink {
    text-decoration: none;
    color: white;
}

.image-para1-intro2 {
    position: absolute;
    top: 101px;
    left: 136px;
    width: 189px;
    height: 189px;
}
.image-para2-intro2 {
    position: absolute;
    top: 333px;
    left: 136px;
    width: 189px;
    height: 189px;
}


.heading-para2-group-ani {} [data-gwd-group="text-animation"] .heading-para2-group.heading-para1 {
    position: absolute;
    font-family: Lato;
    font-size: 23px;
    width: 288px;
    height: 32px;
    transform-origin: 144px 15.9957px 0px;
    top: 119px;
    left: 400px;
    color: rgb(54, 169, 211);
}
[data-gwd-group="text-animation"] .heading-para2-group.heading-para2 {
    height: 32px;
    transform-origin: 144px 15.9957px 0px;
    visibility: visible;
    overflow: visible;
    width: 259px;
    left: 0px;
    top: 0px;
}
[data-gwd-group="text-animation"] {
    width: 259px;
    height: 32px;
}
.heading-para2-animation-position {
    position: absolute;
    left: 406px;
    overflow: hidden;
    top: 278px;
}
@keyframes heading-para2-text-ani_gwd-keyframes {
    0% {
        width: 0px;
        animation-timing-function: linear;
    }
    100% {
        width: 238px;
        animation-timing-function: linear;
    }
}
.popup-bg-intro2 .heading-para2-text-ani {
    animation: heading-para2-text-ani_gwd-keyframes 2s linear 0s 1 normal forwards;
}
[data-gwd-group="para2_animation"] .para2-group.para2 {
    position: absolute;
    text-align: justify;
    font-size: 18px;
    width: 657px;
    height: 204px;
    transform-origin: 328.783px 102.072px 0px;
    left: 0px;
    top: 0px;
}
[data-gwd-group="para2_animation"] {
    width: 657px;
    height: 204px;
}
.para2-animation-position {
    position: absolute;
    left: 406px;
    overflow: hidden;
    top: 324px;
    height: 1px;
}
@keyframes para2-text-ani_gwd-keyframes {
    0% {
        height: 1px;
        animation-timing-function: linear;
    }
    64.52% {
        height: 1px;
        animation-timing-function: linear;
    }
    100% {
        height: 227px;
        animation-timing-function: linear;
    }
}
.popup-bg-intro2 .para2-text-ani {
    animation: para2-text-ani_gwd-keyframes 3.1s linear 0s 1 normal forwards;
}




@media (max-width: 359px) {
}
@media (max-width: 767px) and (min-width: 360px) {
    .popup-bg-intro0 {
        width: 327px;
        height: 609px;
        transform-origin: 163.256px 304.408px 0px;
        transform: translate3d(-160px, -306px, 0px);
        transform-style: preserve-3d;
    }
    .popup-bg-intro2 {
        width: 327px;
        height: 560px;
        transform-origin: 163.263px 280.094px 0px;
        transform: translate3d(-160px, -306px, 0px);
        transform-style: preserve-3d;
    }
    .heading-title-intro0, .heading-title-intro3 {
        width: 296px;
        height: 43px;
        transform-origin: 148.187px 21.4718px 0px;
        font-size: 19px;
        text-align: center;
        left: 12px;
        top: 12px;
    }
    .heading-title-intro2 {
        font-size: 25px;
        left: 15px;
        top: 11px;
        width: 296px;
        height: 31px;
        transform-origin: 147.966px 15.5072px 0px;
    }
    .image-intro1 {
        width: 231px;
        height: 150px;
        transform-origin: 115.614px 74.4485px 0px;
        left: 50%;
        top: 50%;
        transform: translate3d(-117px, -235px, 0px);
        transform-style: preserve-3d;
    }
    .para1-intro0 {
        font-size: 14px;
        left: 15px;
        top: 232px;
        width: 295px;
        height: 53px;
        transform-origin: 147.746px 26.4106px 0px;
    }
    .para2-intro0 {
        font-size: 14px;
        width: 294px;
        height: 58px;
        transform-origin: 146.869px 29.1037px 0px;
        transform: translate3d(15px, -20px, 0px);
        transform-style: preserve-3d;
    }
    .para1-intro2 {
        text-align: justify;
        font-size: 12px;
        width: 231px;
        height: 94px;
        transform-origin: 115.805px 46.7358px 0px;
        transform: translate3d(78px, -199px, 0px);
        transform-style: preserve-3d;
    }
    .image-para1-intro2 {
        width: 65px;
        height: 65px;
        left: 1.83%;
        top: 48px;
    }
    .image-para2-intro2 {
        width: 65px;
        height: 65px;
        left: 1.83%;
        top: 181px;
    }
    .note-bg-intro0 {
        width: 327px;
        height: 69px;
        transform-origin: 163.729px 34.0828px 0px;
        transform: translate3d(0px, 38px, 0px);
        transform-style: preserve-3d;
    }
    .note-text-intro0 {
        font-size: 12px;
        left: 18px;
        width: 290px;
        height: 61px;
        transform-origin: 145.016px 30.5873px 0px;
        top: 348px;
    }
    .next-btn-bg-intro0 {
        width: 302px;
        height: 49px;
        transform-origin: 150.765px 24.2949px 0px;
        transform: translate3d(-1161px, 207px, 0px);
        transform-style: preserve-3d;
    }
    .next-btn-bg-intro2 {
        transform-origin: 67.5389px 22.2712px 0px;
        width: 101px;
        height: 35px;
        top: 50%;
        transform: translate3d(-974px, 237px, 0px);
        transform-style: preserve-3d;
    }
    .next-arrow-intro0 {
        transform: translate3d(-1209px, 212px, 0px);
        transform-style: preserve-3d;
    }
    .next-arrow-intro2 {
        width: 25px;
        height: 25px;
        transform-origin: 12.6154px 12.3826px 0px;
        top: 50%;
        transform: translate3d(-1213px, 242px, 0px);
        transform-style: preserve-3d;
    }
    .next-btn-text-intro0 {
        font-size: 22px;
        width: 294px;
        height: 29px;
        transform-origin: 146.984px 14.7187px 0px;
        transform: translate3d(-749px, 217px, 0px);
        transform-style: preserve-3d;
    }
    .next-btn-text-intro3 {
        top: 50%;
        transform: translate3d(-555px, 240px, 0px);
        transform-style: preserve-3d;
    }
    .back-arrow-intro0 {
        transform: translate3d(-351px, 146px, 0px) rotateZ(179.581deg);
        transform-style: preserve-3d;
    }
    .back-arrow-intro2 {
        width: 24px;
        height: 24px;
        transform-origin: 11.8368px 12.1686px 0px;
        top: 50%;
        transform: translate3d(-426px, 242px, 0px) rotateZ(179.581deg);
        transform-style: preserve-3d;
    }
    .back-text-intro0 {
        font-size: 22px;
        transform: translate3d(-428px, 151px, 0px);
        transform-style: preserve-3d;
    }
    .back-text-intro2 {
        top: 50%;
        transform: translate3d(-522px, 240px, 0px);
        transform-style: preserve-3d;
    }
    .back-text-intro3 {
        font-size: 22px;
        transform: translate3d(-428px, 151px, 0px);
        transform-style: preserve-3d;
    }
    .back-btn-bg-intro0 {
        width: 298px;
        height: 50px;
        transform-origin: 149.021px 24.9946px 0px;
        transform: translate3d(-39px, -86px, 0px);
        transform-style: preserve-3d;
    }
    .back-btn-bg-intro2 {
        width: 101px;
        height: 35px;
        transform-origin: 50.2849px 17.4823px 0px;
        top: 50%;
        transform: translate3d(-39px, 237px, 0px);
        transform-style: preserve-3d;
    }
    .back-btn-bg-intro3 {
        width: 298px;
        height: 50px;
        transform-origin: 149.021px 24.9946px 0px;
        transform: translate3d(-39px, -86px, 0px);
        transform-style: preserve-3d;
    }
    .btn-next-hyperlink {
        transform-origin: 138.504px 12.6063px 0px;
        left: 0px;
        top: 2px;
    }
    .close-btn-bg-intro0 {
        left: 297px;
        top: 4px;
    }
    .close-btn-bg-intro2 {
        left: 295px;
    }
    .close-btn {
        left: 303px;
        top: 1px;
    }
    .header-para1-intro2-modified {
        left: 78px;
        width: 244px;
        height: 32px;
        transform-origin: 122.013px 15.9911px 0px;
        font-size: 20px;
        top: 47px;
    }
    [data-gwd-group="text-animation"] .heading-para2-group.heading-para2 {
        font-size: 20px;
        width: 231px;
        height: 32px;
        transform-origin: 115.488px 15.9771px 0px;
        left: 0px;
        top: 0px;
    }
    [data-gwd-group="text-animation"] {
        width: 231px;
        height: 32px;
    }
    .heading-para2-animation-position {
        left: 77px;
        top: 181px;
        transform-style: preserve-3d;
        transform: translate3d(0px, 0px, 0px);
        width: 0px;
    }
    [data-gwd-group="para2_animation"] .para2-group.para2 {
        font-size: 12px;
        width: 230px;
        height: 246px;
        transform-origin: 115.121px 122.801px 0px;
        font-family: Lato;
        left: 0px;
        top: 0px;
    }
    [data-gwd-group="para2_animation"] {
        width: 230px;
        height: 246px;
    }
    .para2-animation-position {
        left: 77px;
        top: 217px;
        transform-style: preserve-3d;
        transform: translate3d(0px, 0px, 0px);
        height: 1px;
    }
    @keyframes para2-text-ani_gwd-keyframes {
        0% {
            height: 1px;
            transform: translate3d(0px, 0px, 0px);
            animation-timing-function: linear;
        }
        64.52% {
            height: 1px;
            transform: translate3d(0px, 0px, 0px);
            animation-timing-function: linear;
        }
        100% {
            height: 300px;
            transform: translate3d(0px, 0px, 0px);
            animation-timing-function: linear;
        }
    }
    @keyframes heading-para2-text-ani_gwd-keyframes {
        0% {
            width: 0px;
            transform: translate3d(0px, 0px, 0px);
            animation-timing-function: linear;
        }
        100% {
            width: 238px;
            transform: translate3d(0px, 0px, 0px);
            animation-timing-function: linear;
        }
    }
    .popup-bg-intro2 .heading-para2-text-ani {
        animation: heading-para2-text-ani_gwd-keyframes 2s linear 0s 1 normal forwards;
    }
    .popup-bg-intro2 .para2-text-ani {
        animation: para2-text-ani_gwd-keyframes 3.1s linear 0s 1 normal forwards;
    }
}
@media (max-width: 1023px) and (min-width: 768px) {
    .popup-bg-intro0, .popup-bg-intro2 {
        width: 703px;
        height: 961px;
        transform-origin: 351.234px 480.245px 0px;
        left: 50%;
        top: 50%;
        transform: translate3d(-351px, -480px, 0px);
        transform-style: preserve-3d;
    }
    .heading-title-intro0, .heading-title-intro3 {
        font-size: 25px;
        top: 68px;
        width: 629px;
        height: 39px;
        transform-origin: 314.176px 19.4437px 0px;
        left: 38px;
    }
    .heading-title-intro2 {
        width: 648px;
        height: 43px;
        font-size: 30px;
        left: 50%;
        top: 50%;
        transform-origin: 323.915px 21.4447px 0px;
        transform: translate3d(-324px, -440px, 0px);
        transform-style: preserve-3d;
    }
    .image-intro1 {
        width: 511px;
        height: 306px;
        transform-origin: 255.471px 152.842px 0px;
        transform: translate3d(-455px, -307px, 0px);
        transform-style: preserve-3d;
    }
    .para1-intro0 {
        font-size: 22px;
        left: 37px;
        width: 639px;
        height: 75px;
        transform-origin: 319.32px 37.9967px 0px;
        top: 499px;
    }
    .para2-intro0 {
        font-size: 22px;
        width: 638px;
        height: 77px;
        transform-origin: 318.919px 38.1074px 0px;
        transform: translate3d(39px, 100px, 0px);
        transform-style: preserve-3d;
    }
    .para1-intro2 {
        font-size: 22px;
        width: 492px;
        height: 143px;
        transform-origin: 246.107px 71.1788px 0px;
        text-align: justify;
        transform: translate3d(185px, -302px, 0px);
        transform-style: preserve-3d;
    }
    .heading-para1-intro2 {
        width: 639px;
        height: 58px;
        transform-origin: 319.333px 29.1913px 0px;
        left: 37px;
        font-size: 22px;
        top: 505px;
    }
    .back-text-intro0 {
        top: 50%;
        transform: translate3d(-472px, 402px, 0px);
        transform-style: preserve-3d;
    }
    .back-text-intro2 {
        top: 50%;
        transform: translate3d(-473px, 415px, 0px);
        transform-style: preserve-3d;
    }
    .back-text-intro3 {
        top: 50%;
        transform: translate3d(-472px, 402px, 0px);
        transform-style: preserve-3d;
    }
    .back-btn-bg-intro0 {
        top: 50%;
        transform: translate3d(-14px, 391px, 0px);
        transform-style: preserve-3d;
    }
    .back-btn-bg-intro2 {
        top: 50%;
        width: 138px;
        height: 50px;
        transform-origin: 69.1425px 24.9908px 0px;
        transform: translate3d(-14px, 406px, 0px);
        transform-style: preserve-3d;
    }
    .back-btn-bg-intro3 {
        top: 50%;
        transform: translate3d(-14px, 391px, 0px);
        transform-style: preserve-3d;
    }
    .back-arrow-intro0 {
        top: 50%;
        transform: translate3d(-394px, 397px, 0px) rotateZ(179.581deg);
        transform-style: preserve-3d;
    }
    .back-arrow-intro2 {
        top: 50%;
        transform: translate3d(-395px, 412px, 0px) rotateZ(179.581deg);
        transform-style: preserve-3d;
    }
    .back-arrow-intro3 {
        top: 50%;
        transform: translate3d(-394px, 397px, 0px) rotateZ(179.581deg);
        transform-style: preserve-3d;
    }
    .next-btn-bg-intro0 {
        top: 50%;
        transform: translate3d(-872px, 392px, 0px);
        transform-style: preserve-3d;
    }
    .next-arrow-intro0 {
        top: 50%;
        transform: translate3d(-879px, 397px, 0px);
        transform-style: preserve-3d;
    }
    .next-btn-bg-intro2 {
        top: 50%;
        width: 141px;
        height: 49px;
        transform-origin: 70.7146px 24.2881px 0px;
        transform: translate3d(-656px, 407px, 0px);
        transform-style: preserve-3d;
    }
    .next-arrow-intro2 {
        top: 50%;
        transform: translate3d(-879px, 412px, 0px);
        transform-style: preserve-3d;
    }
    .next-btn-text-intro0 {
        top: 50%;
        width: 270px;
        height: 26px;
        transform-origin: 134.93px 12.6862px 0px;
        transform: translate3d(-440px, 402px, 0px);
        transform-style: preserve-3d;
    }
    .next-btn-text-intro3 {
        width: 60px;
        height: 39px;
        transform-origin: 29.7565px 19.3002px 0px;
        top: 50%;
        transform: translate3d(-226px, 415px, 0px);
        transform-style: preserve-3d;
    }
    .note-bg-intro0 {
        width: 702px;
        height: 88px;
        transform-origin: 350.71px 42.9197px 0px;
        transform: translate3d(1px, 190px, 0px);
        transform-style: preserve-3d;
    }
    .note-text-intro0 {
        width: 601px;
        height: 67px;
        transform-origin: 300.911px 33.5668px 0px;
        left: 56px;
        top: 683px;
    }
    .close-btn-bg-intro0 {
        width: 30px;
        height: 29px;
        transform-origin: 14.9384px 14.5333px 0px;
        top: 12px;
        left: 662px;
    }
    .close-btn-bg-intro2 {
        width: 30px;
        height: 29px;
        transform-origin: 14.9384px 14.5333px 0px;
        top: 12px;
        left: 662px;
    }
    .close-btn {
        width: 21px;
        height: 41px;
        top: 8px;
        font-size: 25px;
        left: 671px;
    }
    .image-para1-intro2 {
        width: 143px;
        height: 143px;
        left: 23px;
        top: 120px;
    }
    .image-para2-intro2 {
        width: 143px;
        height: 143px;
        left: 23px;
        top: 352px;
    }
    .header-para1-intro2-modified {
        left: 178px;
        top: 132px;
        width: 499px;
        height: 58px;
        transform-origin: 249.353px 29.1748px 0px;
        font-size: 25px;
    }
    [data-gwd-group="text-animation"] .heading-para2-group.heading-para2 {
        font-size: 25px;
        width: 491px;
        height: 40px;
        transform-origin: 245.423px 20.2301px 0px;
        left: 0px;
        top: 0px;
    }
    [data-gwd-group="text-animation"] {
        width: 491px;
        height: 40px;
    }
    .heading-para2-animation-position {
        left: 189px;
        top: 346px;
    }
    [data-gwd-group="para2_animation"] .para2-group.para2 {
        font-size: 22px;
        width: 492px;
        height: 400px;
        transform-origin: 245.973px 201.036px 0px;
        font-family: Lato;
        left: 0px;
        top: 0px;
    }
    [data-gwd-group="para2_animation"] {
        width: 492px;
        height: 400px;
    }
    .para2-animation-position {
        left: 187px;
        top: 395px;
    }
    @keyframes para2-text-ani_gwd-keyframes {
        0% {
            height: 1px;
            animation-timing-function: linear;
        }
        64.52% {
            height: 1px;
            animation-timing-function: linear;
        }
        100% {
            height: 502px;
            animation-timing-function: linear;
        }
    }
    @keyframes heading-para2-text-ani_gwd-keyframes {
        0% {
            width: 0px;
            animation-timing-function: linear;
        }
        64.52% {
            width: 238px;
            animation-timing-function: linear;
        }
        100% {
            width: 267px;
            animation-timing-function: linear;
        }
    }
    .popup-bg-intro2 .heading-para2-text-ani {
        animation: heading-para2-text-ani_gwd-keyframes 3.1s linear 0s 1 normal forwards;
    }
}
@media (max-width: 1365px) and (min-width: 1024px) {
    .popup-bg-intro0 {
        width: 852px;
        height: 490px;
        transform-origin: 426.074px 244.889px 0px;
        left: 50%;
        top: 50%;
        transform: translate3d(-426px, -245px, 0px);
        transform-style: preserve-3d;
    }
    .popup-bg-intro2 {
        width: 852px;
        height: 490px;
        transform-origin: 426.074px 244.889px 0px;
        left: 50%;
        top: 50%;
        transform: translate3d(-426px, -245px, 0px);
        transform-style: preserve-3d;
    }
    .image-intro1 {
        width: 299px;
        height: 194px;
        transform-origin: 149.582px 96.8084px 0px;
        transform: translate3d(-471px, -91px, 0px);
        transform-style: preserve-3d;
    }
    .heading-title-intro0 {
        font-size: 20px;
        width: 504px;
        height: 43px;
        transform-origin: 252.072px 21.4673px 0px;
        left: 180px;
        top: 32px;
    }
    .heading-title-intro2 {
        width: 568px;
        height: 27px;
        transform-origin: 284.509px 13.5165px 0px;
        left: 50%;
        top: 50%;
        font-size: 30px;
        transform: translate3d(-284px, -229px, 0px);
        transform-style: preserve-3d;
    }
    .heading-title-intro3 {
        font-size: 20px;
        width: 215px;
        height: 43px;
        /* transform-origin: 252.072px 21.4673px 0px; */
        left: 155px;
        top: 32px;
    }
    .para1-intro0 {
        width: 393px;
        height: 58px;
        transform-origin: 196.7px 29.2019px 0px;
        left: 418px;
        top: 93px;
    }
    .para2-intro0 {
        width: 392px;
        height: 77px;
        transform-origin: 196.089px 38.3331px 0px;
        transform: translate3d(420px, -92px, 0px);
        transform-style: preserve-3d;
    }
    .para1-intro1 {
        width: 393px;
        height: 58px;
        transform-origin: 196.7px 29.2019px 0px;
        left: 370px;
        top: 85px;
    }
    .heading-para1-intro2 {
        width: 393px;
        height: 58px;
        transform-origin: 196.7px 29.2019px 0px;
        left: 418px;
        top: 93px;
    }
    .para1-intro2 {
        font-size: 15px;
        width: 562px;
        height: 61px;
        transform-origin: 281.275px 30.141px 0px;
        transform: translate3d(233px, -142px, 0px);
        transform-style: preserve-3d;
    }
    .heading-para1-intro3 {
        width: 393px;
        height: 58px;
        transform-origin: 196.7px 29.2019px 0px;
        left: 380px;
        top: 7px;
    }
    .para1-intro3 {
        font-size: 15px;
        width: 562px;
        height: 61px;
        transform-origin: 281.275px 30.141px 0px;
        transform: translate3d(155px, -133px, 0px);
        transform-style: preserve-3d;
    }
    .note-bg-intro0 {
        width: 378px;
        height: 106px;
        transform-origin: 189.21px 52.5066px 0px;
        transform: translate3d(429px, -12px, 0px);
        transform-style: preserve-3d;
    }
    .note-text-intro0 {
        font-size: 16px;
        width: 357px;
        height: 95px;
        transform-origin: 178.504px 47.5302px 0px;
        top: 241px;
        left: 439px;
    }
    .note-bg-intro0 {
        width: 378px;
        height: 106px;
        transform-origin: 189.21px 52.5066px 0px;
        transform: translate3d(429px, -12px, 0px);
        transform-style: preserve-3d;
    }
    .note-text-intro1 {
        font-size: 16px;
        width: 357px;
        height: 95px;
        transform-origin: 178.504px 47.5302px 0px;
        top: 318px;
        left: 389px;
    }
    .note-bg-intro1 {
        width: 378px;
        height: 106px;
        transform-origin: 189.21px 52.5066px 0px;
        transform: translate3d(380px, 60px, 0px);
        transform-style: preserve-3d;
    }

    .back-text-intro0 {
        font-size: 17px;
        width: 49px;
        height: 23px;
        transform-origin: 24.6665px 11.5119px 0px;
        top: 50%;
        transform: translate3d(-480px, 191px, 0px);
        transform-style: preserve-3d;
    }
    .back-text-intro2 {
        font-size: 17px;
        width: 49px;
        height: 23px;
        transform-origin: 24.6665px 11.5119px 0px;
        top: 50%;
        transform: translate3d(-480px, 191px, 0px);
        transform-style: preserve-3d;
    }
    .back-text-intro3 {
        font-size: 17px;
        width: 49px;
        height: 23px;
        /* transform-origin: 24.6665px 11.5119px 0px; */
        top: 50%;
        transform: translate3d(-495px, 191px, 0px);
        transform-style: preserve-3d;
    }
    .back-btn-bg-intro0, .back-btn-bg-intro2 {
        width: 107px;
        height: 38px;
        transform-origin: 53.4181px 22.2828px 0px;
        top: 50%;
        transform: translate3d(-5px, 183px, 0px);
        transform-style: preserve-3d;
    }
    .back-btn-bg-intro3 {
        width: 107px;
        height: 38px;
        /* transform-origin: 53.4181px 22.2828px 0px; */
        top: 50%;
        transform: translate3d(-15px, 183px, 0px);
        transform-style: preserve-3d;
    }
    .back-arrow-intro0 {
        width: 26px;
        height: 28px;
        top: 50%;
        transform: translate3d(-392px, 188px, 0px) rotateZ(179.581deg);
        transform-style: preserve-3d;
    }
    .back-arrow-intro2 {
        width: 26px;
        height: 28px;
        top: 50%;
        transform: translate3d(-392px, 188px, 0px) rotateZ(179.581deg);
        transform-style: preserve-3d;
    }
    .back-arrow-intro3 {
        width: 26px;
        height: 28px;
        top: 50%;
        transform: translate3d(-407px, 188px, 0px) rotateZ(179.581deg);
        transform-style: preserve-3d;
    }
    .next-btn-text-intro0 {
        font-size: 17px;
        top: 50%;
        width: 202px;
        height: 24px;
        transform-origin: 100.605px 11.6084px 0px;
        transform: translate3d(-197px, 191px, 0px);
        transform-style: preserve-3d;
    }
    .next-btn-text-intro2 {
        font-size: 17px;
        top: 50%;
        width: 202px;
        height: 24px;
        transform-origin: 100.605px 11.6084px 0px;
        transform: translate3d(-165px, 191px, 0px);
        transform-style: preserve-3d;
    }
    .next-btn-text-intro3 {
        font-size: 17px;
        top: 50%;
        width: 43px;
        height: 29px;
        /* transform-origin: 21.4973px 14.2165px 0px; */
        transform: translate3d(-38px, 190px, 0px);
        transform-style: preserve-3d;
    }
    .next-btn-bg-intro0 {
        height: 38px;
        width: 259px;
        transform-origin: 129.427px 19.1267px 0px;
        top: 50%;
        transform: translate3d(-619px, 183px, 0px);
        transform-style: preserve-3d;
    }
    .next-btn-bg-intro1 {
        height: 38px;
        width: 259px;
        transform-origin: 129.427px 19.1267px 0px;
        top: 50%;
        transform: translate3d(-619px, 183px, 0px);
        transform-style: preserve-3d;
    }
    .next-btn-bg-intro2 {
        top: 50%;
        width: 204px;
        height: 38px;
        transform-origin: 51.4232px 19.1165px 0px;
        transform: translate3d(-585px, 183px, 0px);
        transform-style: preserve-3d;
    }
    .next-btn-bg-intro3 {
        top: 50%;
        width: 112px;
        height: 38px;
        /* transform-origin: 51.4232px 19.1165px 0px; */
        transform: translate3d(-465px, 183px, 0px);
        transform-style: preserve-3d;
    }
    .next-arrow-intro0 {
        width: 28px;
        height: 26px;
        transform-origin: 14.0443px 13.0677px 0px;
        top: 50%;
        transform: translate3d(-704px, 189px, 0px);
        transform-style: preserve-3d;
    }
    .next-arrow-intro2 {
        width: 28px;
        height: 26px;
        transform-origin: 14.0443px 13.0677px 0px;
        top: 50%;
        transform: translate3d(-724px, 189px, 0px);
        transform-style: preserve-3d;
    }
    .next-arrow-intro3 {
        width: 28px;
        height: 26px;
        transform-origin: 14.0443px 13.0677px 0px;
        top: 50%;
        transform: translate3d(-694px, 189px, 0px);
        transform-style: preserve-3d;
    }
    .close-btn-bg-intro0, .close-btn-bg-intro2 {
        top: 13px;
        left: 813px;
    }
    .close-btn {
        top: 10px;
        left: 819px;
    }
    .image-para1-intro2 {
        left: 74px;
        width: 111px;
        height: 115px;
        top: 79px;
    }
    .image-para2-intro2 {
        left: 74px;
        width: 111px;
        height: 115px;
        top: 230px;
    }
    .header-para1-intro2-modified {
        font-size: 21px;
        left: 232px;
        width: 563px;
        height: 32px;
        transform-origin: 281.774px 16.1021px 0px;
        top: 69px;
    }
    [data-gwd-group="text-animation"] .heading-para2-group.heading-para2 {
        font-size: 21px;
        width: 561px;
        height: 32px;
        transform-origin: 280.563px 16.2274px 0px;
        left: 0px;
        top: 18px;
    }
    [data-gwd-group="text-animation"] {
        width: 561px;
        height: 50px;
    }
    .heading-para2-animation-position {
        left: 236px;
        top: 175px;
    }
    [data-gwd-group="para2_animation"] .para2-group.para2 {
        font-size: 15px;
        width: 563px;
        height: 174px;
        transform-origin: 281.275px 87.1561px 0px;
        font-family: Lato;
        left: 0px;
        top: 0px;
    }
    [data-gwd-group="para2_animation"] {
        width: 563px;
        height: 174px;
    }
    .para2-animation-position {
        left: 234px;
        top: 228px;
    }
    @keyframes para2-text-ani_gwd-keyframes {
	0% {
            height: 1px;
            animation-timing-function: linear;
	}
	64.52% {
            height: 1px;
            animation-timing-function: linear;
	}
	100% {
            height: 200px;
            animation-timing-function: linear;
	}
    }
}
@media (min-width: 1366px) {
    .close-btn-bg-intro0, .close-btn-bg-intro2 {
        top: 12px;
        left: 1132px;
    }
    .close-btn {
        width: 10px;
        height: 25px;
        transform-origin: 5.04062px 12.4742px 0px;
        top: 13px;
        left: 1138px;
    }
    .heading-title-intro2 {
        top: 50%;
        transform-style: preserve-3d;
        left: 50%;
        transform: translate3d(-431px, -318px, 0px);
    }
    .para1-intro2 {
        transform-style: preserve-3d;
        transform: translate3d(406px, -179px, 0px);
    }
    .header-para1-intro2-modified {
        top: 112px;
    }
    .image-para1-intro2 {
        top: 94px;
    }
    .image-para2-intro2 {
        top: 326px;
    }
    .note-bg-intro0 {
        height: 104px;
        transform-style: preserve-3d;
        transform: translate3d(652px, 3px, 0px);
        width: 457px;
        transform-origin: 228.809px 51.7365px 0px;
    }
    .note-text-intro0 {
        font-size: 17px;
    }
    .para1-intro0 {
        left: 646px;
        top: 190px;
        width: 464px;
        height: 58px;
        transform-origin: 231.88px 29.1894px 0px;
    }
    .para2-intro0 {
        width: 464px;
        height: 77px;
        transform-origin: 231.86px 38.3284px 0px;
        transform: translate3d(646px, -83px, 0px);
        transform-style: preserve-3d;
    }
    .next-btn-text-intro0 {
        transform-style: preserve-3d;
        transform: translate3d(0px, 259px, 0px);
    }
    [data-gwd-group="text-animation"] .heading-para2-group.heading-para2 {
        top: 0px;
    }
    .heading-para2-animation-position {
        left: 406px;
        top: 271px;
    }
    [data-gwd-group="para2_animation"] .para2-group.para2 {
        font-family: Lato;
        width: 657px;
        height: 247px;
        transform-origin: 328.767px 123.657px 0px;
        left: 0px;
        top: 0px;
    }
    [data-gwd-group="para2_animation"] {
        width: 657px;
        height: 247px;
    }
    .para2-animation-position {
        left: 406px;
        top: 317px;
    }
    @keyframes para2-text-ani_gwd-keyframes {
        0% {
            height: 1px;
            animation-timing-function: linear;
        }
        51.28% {
            height: 1px;
            animation-timing-function: linear;
        }
        79.49% {
            height: 227px;
            animation-timing-function: linear;
        }
        100% {
            height: 247px;
            animation-timing-function: linear;
        }
    }
    .popup-bg-intro2 .para2-text-ani {
        animation: para2-text-ani_gwd-keyframes 3.9s linear 0s 1 normal forwards;
    }
}
